@{
    ViewBag.Title = "Angular Js Demo";
}
@section scripts{
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
}

<div class="jumbotron">
    <h1>Angular JS</h1>

</div>
<div class="row">
    <div class="col-md-8">
        <h3 style="color:darkcyan">AngularJS Extends HTML</h3><br />
        <div>
            <b>AngularJS extends HTML with ng-directives.</b>
            <br />
            The <b>ng-app</b> directive defines an AngularJS application.
            <br />
            The <b>ng-model</b> directive binds the value of HTML controls (input, select, textarea) to application data.
            <br />
            The <b>ng-bind</b> directive binds application data to the HTML view.
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h3 style="color:darkcyan">Use of ng-model</h3><br/>
        <div ng-app="">
            <p><b>Name : </b><input type="text" ng-model="name"></p>
            <h5><b>Hello {{name}}</b></h5>
        </div>
    </div>
</div>